provider "huaweicloud" {
  alias  = "${alias}"
  region = var.home_region

  assume_role {
    agency_name = local.foundation.cross_account_agency_name
    domain_name = "${account}"
  }
  # Mandatory resource tags
  default_tags = var.default_tags
}
